<a href="https://colab.research.google.com/github/ckdlsqpf/projectmanager/blob/main/1_%E1%84%91%E1%85%A1%E1%84%8B%E1%85%B5%E1%84%8A%E1%85%A5%E1%86%AB%E1%84%80%E1%85%B5%E1%84%8E%E1%85%A9_02_%E1%84%8C%E1%85%A1%E1%84%85%E1%85%AD%E1%84%92%E1%85%A7%E1%86%BC%E1%84%80%E1%85%AA%E1%84%83%E1%85%A6%E1%84%8B%E1%85%B5%E1%84%90%E1%85%A5%E1%84%91%E1%85%AD%E1%84%92%E1%85%A7%E1%86%AB_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초 다지기

## 2 - 파이썬 자료형과 데이터 표현
파이썬의 다양한 데이터 타입과 다양한 연산자, 문자열

----------------------------------

## 2-1.파이썬 자료형(Data Type)

### 수학 연산하기

In [ ]:
print(10 + 20)
print(20 - 10)
print(20 * 10)
print(10 / 5)
print(10 % 5)
print(10**3)

# 변수 사용하기
a = 10
b = 20
print(a + b)
print(a - b)
print(a * b)

### [실습문제]
- 문제1: 10 + 3 x 4 결과 출력
- 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
- 문제3: 주어진 자연수가 홀수인지 짝수인지 판별하는 방법은?
- 문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력하기

In [40]:
#1번
print('10 + 3 x 4 =', 10 + 3*4)

#2번
iphone_price = 1300000
num = 15
total_price = iphone_price * num
print(total_price)
print('%d x %d = %d' % (iphone_price, num, total_price))
print(f'{iphone_price} x {num} = {total_price}')
print('{} x {} = {}'.format(iphone_price, num, total_price))


#3번
natural_num = 9
print(natural_num % 2) #0이 나오면 짝수, 1이 나오면 홀수

##random 사용하기
import random

number = random.randint(1,100)

if number % 2 == 0:
  print(number, '짝수')
else:
  print(number, '홀수')

#4번
a = 2
b = 5
c = 3
print('2x2x2x5x5x5x5x3x3x3x3=', a**3 * b**4 * c**4)

10 + 3 x 4 = 22
19500000
1300000 x 15 = 19500000
1300000 x 15 = 19500000
1300000 x 15 = 19500000
1
19 홀수
2x2x2x5x5x5x5x3x3x3x3= 405000

### 변수
데이터를 저장할 수 있는 공간

**변수 사용 시 주의사항**
- 첫 글자는 영문, 혹은 _(언더바)로 시작할 것 (한글도 가능)
- 영문자, 숫자, _(언더바)만으로 구성할 것 (공백문자 불가)
- 대문자, 소문자 구분해서 사용할 것
- 예약어는 피할 것

### 파이썬 자료형

In [41]:
d1 = 123
d2 = '123'
d3 = [123]
d4 = (123,)
d5 = {'key':123}
d6 = {123}
d7 = True

print(f'데이터 {d1}의 자료형: {type(d1)}')
print(f'데이터 {d2}의 자료형: {type(d2)}')
print(f'데이터 {d3}의 자료형: {type(d3)}')
print(f'데이터 {d4}의 자료형: {type(d4)}')
print(f'데이터 {d5}의 자료형: {type(d5)}')
print(f'데이터 {d6}의 자료형: {type(d6)}')
print(f'데이터 {d7}의 자료형: {type(d7)}')

데이터 123의 자료형: <class 'int'>
데이터 123의 자료형: <class 'str'>
데이터 [123]의 자료형: <class 'list'>
데이터 (123,)의 자료형: <class 'tuple'>
데이터 {'key': 123}의 자료형: <class 'dict'>
데이터 {123}의 자료형: <class 'set'>
데이터 True의 자료형: <class 'bool'>

### 표준 입력과 출력
- 키보드로부터 입력을 받는 함수( input() )을 표준 입력함수라 한다.
- 화면에 출력하는 함수( print() )를 표준 출력함수라 한다.

In [63]:
# 표준 입력(키보드로부터 데이터를 입력 받는 것)
a = input('숫자를 입력하세요: ')

# 표준 출력
print(f'변수 a의 값: {a}, {type(a)}, {type(int(a))}\n')

b = float(input('숫자를 입력하세요: '))
print(f'변수 b의 값: {b}, {type(b)}')

숫자를 입력하세요: 20
변수 a의 값: 20, <class 'str'>, <class 'int'>

숫자를 입력하세요: 20
변수 b의 값: 20.0, <class 'float'>

#### 문자열 데이터를 숫자(정수)로 변환하기

In [ ]:
# 문자열 데이터를 숫자(정수)로 변환하기

#### 다양한 변수 출력 방법

### [실습문제] : 계산기 프로그램 만들기
정수 2개를 키보드로 각각 입력 받아 아래와 같이 덧셈, 뺄셈, 곱셈, 몫, 나머지를


출력하는 프로그램을 만들어 보세요.

In [ ]:
num1 = int( input('첫 번째 숫자: ') )
num2 = int( input('두 번째 숫자: ') )
print('-' * 50)
print('덧셈: %d + %d = %d' % (num1, num2, num1 + num2))
print('뺄셈: %d - %d = %d' % (num1, num2, num1 - num2))
print('나눗셈: %d / %d = %f' % (num1, num2, num1 / num2))
print('곱셈: %d * %d = %d' % (num1, num2, num1 * num2))

- f'string' 함수를 이용해 출력하기

In [ ]:
print(f'덧셈: {num1} + {num2} = {num1 + num2}')
print(f'뺄셈: {num1} - {num2} = {num1 - num2}')
print(f'나눗셈: {num1} / {num2} = {num1 / num2:.2f}') #:2f는 소숫점 자리 지정
print(f'곱셈: {num1} * {num2} = {num1 * num2}')

### [실습문제] : 시간 계산 프로그램
속력과 거리를 입력 받아 시간을 계산하여 출력하는 프로그램을 만드세요!
- 시간 = 거리 / 속력

In [129]:
velocity = float(input('속력를 입력해 주세요(km/h) : '))
distance = float(input('거리를 입력해 주세요(km) : '))

print('-' * 50)
print(f'속력 : {velocity} km/h')
print(f'거리 : {distance} km')
print(f'시간 : {distance / velocity} h')

print('속력: %.1f km/h' % velocity)
print('거리: %.1f km' % distance)
print('시간: %.1f h' % (distance / velocity))

속력를 입력해 주세요(km/h) : 38
거리를 입력해 주세요(km) : 45
--------------------------------------------------
속력 : 38.0 km/h
거리 : 45.0 km
시간 : 1.1842105263157894 h
속력: 38.0 km/h
거리: 45.0 km
시간: 1.2 h

- eval()함수 사용하여 문자열을 계산할 수 있다

In [99]:
# eval()함수 사용
eval('10+2')

12

### 내장 수학 함수
- 파이썬 내장 함수 https://docs.python.org/ko/3.10/library/functions.html

In [120]:
import math
a= 3.34

print(f'원주율: {math.pi}')
print(f'절대값: {abs(a)}')
print(f'반올림: {round(a) }')
print(f'올림  : {math.ceil(a)}')
print(f'내림  : {math.floor(a)}')
print(f'제곱  : {math.pow(4,2)}')
print(f'제곱근: {math.sqrt(4)}')
print(f'로그  : {math.log(20)}')

원주율: 3.141592653589793
절대값: 3.34
반올림: 3
올림  : 4
내림  : 3
제곱  : 16.0
제곱근: 2.0
로그  : 2.995732273553991

### [실습문제]: 수학 함수 사용하여 계산하기
- 문제1: 반지름이 4인 원의 넓이 출력
- 문제2: 3.14 곱하가 2 나누기 7의 값을 반올림하여 계산 결과 출력
- 문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력

In [138]:
r = 4
print(f'원의 넓이: {math.pi * r**2}')
print(f'{round(3.14 * 2 / 7)}')
print(f'원의 둘레: {2 * round(math.pi,2) * r}')

원의 넓이: 50.26548245743669
1
원의 둘레: 25.12

In [143]:
print('hello\n') #새로운 줄
print('\thello') #tab 만큼 띄어쓰기
print('he\bllo')

hello

	hello
hello

In [172]:
a = input('정수를 입력하세요: ')
b = int(a)
print(f'{a} + {a*2} + {a*3} = {b*(1 + 11 + 111)}')

result = f'{a} + {a*2} + {a*3}'
print(f'{a} + {a*2} + {a*3} = {eval(result)}')
# 또는
print(f'{a} + {a*2} + {a*3} = {int(a) + int(a+a) + int(a+a+a)}')

정수를 입력하세요: 7
7 + 77 + 777 = 861
7 + 77 + 777 = 861
7 + 77 + 777 = 861

---------------------------

## 2-2.문자와 문자열

#### 문자와 문자열 변환

In [2]:
# 문자 --> 숫자(정수) 로 변환 : ord() 함수 사용
print( ord('A') )
print( ord('a') )
print( ord('!') )
print( ord('가') )

65
97
33
44032

In [3]:
# 숫자(정수) --> 문자 로 변환 : chr() 함수 사용
print( chr(65) )
print( chr(66) )
print( chr(97) )
print( chr(98) )
print( chr(44032) )
print( chr(44033) )

A
B
a
b
가
각

In [13]:
# 문자 --> 숫자 --> 이진수 로 변환
for c in '파이썬':
    숫자변환 = ord(c)              # unicode
    이진수변환 = bin(숫자변환)     # 16진수 binarycode
    print(이진수변환, end=' ')  # 한 줄로 표현하기

0b1101001100001100 0b1100011101110100 0b1100001101101100

In [14]:
for c in '파이썬':
    # 이진수에서 앞'0b'를 없애기 위해 format() 함수 사용할 수 있다.
    print( format(ord(c), 'b'), end = ' ')  # 한 줄로 표현하기

1101001100001100 1100011101110100 1100001101101100

### 문자열 따옴표로 지정

#### 큰 따옴표  or 작은 따옴표로 지정한다

In [15]:
print('Hello')
print("Hello")
print("Hello 'world")
print('Hello "world')
print(' "Yes, I can!" ')

Hello
Hello
Hello 'world
Hello "world
 "Yes, I can!"

#### 따옴표 세 개 사용 : 여러 줄로 표현할 때

In [18]:
a = '''박씨가 소리질렀다.
도둑이야!'''
print(a)

박씨가 소리질렀다.
도둑이야!

In [19]:
a = '''OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원'''
print(a)

OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원

### [실습] 주문받아 출력하기

In [22]:
# 주문받아 출력하기
menu = a
print(menu)

OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원

In [23]:
print('카페주문 프로그램입니다.')
print('-' * 50)
print(menu)
print('-' * 50)
coffee = input('주문하실 음료를 입력하세요: ')
print(f'주문하신 음료 {coffee}가 나왔습니다. 맛있게 드세요~')

카페주문 프로그램입니다.
--------------------------------------------------
OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원
--------------------------------------------------
주문하실 음료를 입력하세요: 카페모카
주문하신 음료 카페모카가 나왔습니다. 맛있게 드세요~

### 문자열 연산
- (+): 문자열 연결하기

In [30]:
print('안녕하세요' + '이진희님')
print('안녕하세요', '이진희님') #쉼표는 공백을 생성
print(7 + 7)
print('7' + '7')

안녕하세요이진희님
안녕하세요 이진희님
14
77

- (*) : 반복의 의미

In [36]:
print('이진희님 ' * 5)

이진희님 이진희님 이진희님 이진희님 이진희님

### [실습문제] 문자열 출력하기
- 문제1: 화면에   Mary’s cosmetics   출력
- 문제2: 화면에  박씨가 소리질렀다. “도둑이야!”.  출력
- 문제3: 다음 코드 실행시켜서 \t와 \n의 역할 확인하기 <br>
print("안녕하세요.\n오늘\t날씨가\t\t좋습니다.")

In [46]:
print('Mary\'s cosmetics')
print('박씨가 소리질렀다. "도둑이야!"')
print("박씨가 소리질렀다. \"도둑이야!\"")
print("안녕하세요.\n오늘\t날씨가\t\t좋습니다.")

Mary's cosmetics
박씨가 소리질렀다. "도둑이야!"
박씨가 소리질렀다. "도둑이야!"
안녕하세요.
오늘	날씨가		좋습니다.

-------------------

## 2-3.문자열 인덱싱과 슬라이싱

In [52]:
a = '우리는 민족중흥의 역사적 사명을 띠고 이 땅에 태어났다.'
print(a[0:3])
print(a[0:3:2])
print(a[0:3])
print(a[:])
print(a[0:])

우리는
우는
우리는
우리는 민족중흥의 역사적 사명을 띠고 이 땅에 태어났다.
우리는 민족중흥의 역사적 사명을 띠고 이 땅에 태어났다.

In [ ]:
fruits = 'orange'
print( )

In [73]:
from importlib import find_loader
# 자릿수
print('%10s' % 'python')
print('%-10s사랑해' % 'python')

# 문자 갯수 세기
a= 'hobby'
count_b = a.count('b')
print(count_b)

# 처음 나온 위치 알려주기
find_o = a.find('o')
print(find_o)

index_o = a.index('o')
print(index_o)

    python
python    사랑해
2
1
1

In [76]:
# 문자열 삽입
a = ','
print(a.join('abcd'))

# 소문자를 대문자로, 대문자를 소문자로
a = 'python'
print(a.upper())
b = 'PYTHON'
print(b.lower())

a,b,c,d
PYTHON
python

In [87]:
# 공백 지우기
a = ' python '
print(a.strip())

# 왼쪽 공백 지우기
print(a.lstrip())

# 오른쪽 공백 지우기
print(a.rstrip())

# 문자열 바꾸기
m = 'life is good'
print(m.replace('life', 'food'))

# 문자열 나누기
print(m.split())

python
python
 python
food is good
['life', 'is', 'good']

In [88]:
# 문자열 거꾸로
s = input('문자열을 입력하세요: ')
print(s[::-1])

문자열을 입력하세요: 안녕
녕안

In [92]:
# [실습문제]: 파일명과 확장자 분리하기

fname = input('파일을 입력하세요: ')
fsplit = fname.split('.')
print(f'파일명: {fsplit[0]}, 확장자: {fsplit[1]}')

파일을 입력하세요: test.py
파일명: test, 확장자: py

## 2-4.변수 활용

### [실습문제]: 지불할 음식 총 가격 계산하기
- 음식가격:  4,450 원
- 세금: 6.75%
- 팁: 15%
1. meal 변수를 선언하고 값을 4450으로 지정하세요.
2. tax 변수를 생성하고 값으로 6.75%를 소수점 형태로 지정하세요.
3. tip 변수를 생성하고 값으로 15%를 소수점 형태로 지정하세요.
4. meal의 변수값에 세금을 곱해 meal 변수에 지정하세요.
5. 음식값에 tip을 더해 total 변수에 지정하세요.
6. total 변수 값을 출력하세요.

In [100]:
meal = 4450    # 1.음식가격
tax = 0.0675   # 2.세금
tip = 0.15     # 3.팁

meal = meal + (meal * tax)
total = meal + (meal * tip)
print(round(total,2))

5462.93

### [실습문제]: 섭씨온도를 화씨온도로 변환하기
- 섭씨 온도 (Celsius): 1 atm에서의 물의 어는점을 0도, 끓는점을 100도로 정한 온도 체계. (°C)


- 화씨 온도 (Fahrenheit): 물이 어는 온도는 32도, 물이 끓는 온도는 212도. 180등분. (°F)
- 섭씨온도(℃) = (5 / 9) × (℉ - 32)  # Celsius
- 화씨온도(℉) = (9 / 5) × ℃ + 32    # Fahrenheit

In [109]:
c_temp = input('온도를 입력해 주세요(섭씨): ')
c_temp = int(c_temp)
f_temp = (9 / 5) * c_temp + 32
print(f_temp, type(f_temp), '\n')

f_temp = input('온도를 입력해 주세요(화씨): ')
f_temp = int(f_temp)
c_temp = (5 / 9) * (f_temp - 32)
print(c_temp, type(c_temp))

온도를 입력해 주세요(섭씨): 25
77.0 <class 'float'>

온도를 입력해 주세요(화씨): 77
25.0 <class 'float'>

-------

## 2-5.연산자

### [실습문제]: 동전 교환 프로그램 만들기

In [119]:
# 키보드로부터 금액 입력 받기
print('---동전교환기 프로그램을 작동합니다.---')
money = int( input('금액을 입력하세요: '))
print('동전으로 교환하겠습니다.---------')

print(f'500원짜리 ==> {money // 500}개')
money %= 500
print(f'100원짜리 ==> {money // 100}개')
money %= 100
print(f'50원짜리 ==> {money // 50}개')
money %= 50
print(f'10원짜리 ==> {money // 10}개')
money %= 10
print(f'잔돈 ==> {money}원')

---동전교환기 프로그램을 작동합니다.---
금액을 입력하세요: 4371
동전으로 교환하겠습니다.---------
500원짜리 ==> 8개
100원짜리 ==> 3개
50원짜리 ==> 1개
10원짜리 ==> 2개
잔돈 ==> 1원

In [120]:
coin = [500, 100, 50, 10]
money = int( input('금액을 입력하세요: '))

for i in coin:
  print(f'{i}원짜리 ==> {money // i}개')
  money %= i
print(f'잔돈 ==> {money}원')

금액을 입력하세요: 4371
500원짜리 ==> 8개
100원짜리 ==> 3개
50원짜리 ==> 1개
10원짜리 ==> 2개
잔돈 ==> 1원

## 2-6.리스트(List)
- 리스트는 여러 개의 데이터 값을 하나의 변수에 담을 수 있는 데이터 구조
- 리스트는 순서(인덱스)가 있고 데이터를 수정, 삭제, 추가 가능하다.
- 대괄호로 표현되고 내부 원소는 ,(쉼표)로 구분됨

### 리스트 생성

In [123]:
a = list()
a = []
a = [1,2,3]
a = ['I', 'Love', 'Python']
b = [1,2, '사랑해요', 'Python']
b = ['a', '1', 1, [2,3], -4]
a = [1,2,['a','b',['사랑해', '파이썬']], 3]

In [133]:
print(a)
print(b)

[1, 2, ['a', 'b', ['사랑해', '파이썬']], 3]
['a', '1', 1, [2, 3], -4]

In [139]:
# range(10) : 정수를 순차적으로 만들어주는 함수
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [143]:
a = 'python'
list(a)

['p', 'y', 't', 'h', 'o', 'n']

In [151]:
article = '''간담회에 참석한 이주호 부총리 겸 교육부 장관은 시안에 대해 "그간 현장에서 요청한 과제들이 충실히 반영됐다는 의견과, 입법 등 실행을 뒷받침할 노력이 필요하다는 의견이 있다"며 "추가적인 의견수렴을 통해 좀 더 완성도 높고 실효성 있는 방안을 만들겠다"고 전했다.
앞서 교육부는 학교에 민원대응팀을 신설하고 무분별한 아동학대 신고를 막기 위해 관련 아동학대처벌법 개정을 추진하는 것 등을 주요 내용으로 하는 교권회복·보호 종합방안 시안을 내놨다.'''

result = article.split(' ')
print(f'리스트 요소 개수: {len(result)}')
print('\n')
print(article.count('에'))
article = article.replace('에', ' ')
print(article)

리스트 요소 개수: 58


4
간담회  참석한 이주호 부총리 겸 교육부 장관은 시안  대해 "그간 현장 서 요청한 과제들이 충실히 반영됐다는 의견과, 입법 등 실행을 뒷받침할 노력이 필요하다는 의견이 있다"며 "추가적인 의견수렴을 통해 좀 더 완성도 높고 실효성 있는 방안을 만들겠다"고 전했다.
앞서 교육부는 학교  민원대응팀을 신설하고 무분별한 아동학대 신고를 막기 위해 관련 아동학대처벌법 개정을 추진하는 것 등을 주요 내용으로 하는 교권회복·보호 종합방안 시안을 내놨다.

### 리스트 삭제

In [158]:
a = [1,2,['a','b',['사랑해', '파이썬']], 3]
b = ['a', '1', 1, [2,3], -4]

del(b) # 리스트 전체 삭제
print(a)
print(b) # 삭제되서 오류남

[1, 2, ['a', 'b', ['사랑해', '파이썬']], 3]

NameError: ignored

In [218]:
name = ['수지', '민수', '안호', '철수']
print(name)

del name[0] # 특정 요소 삭제
print(name)

name.remove('민수')
print(name)

name.pop()
print(name)

['수지', '민수', '안호', '철수']
['민수', '안호', '철수']
['안호', '철수']
['안호']

### 리스트 요소에 접근

In [162]:
print( a[1] )
print( a[2] )
print( a[2][1] )

# '파이썬'을 출력하려면?
print(a[2][2][1])

2
['a', 'b', ['사랑해', '파이썬']]
b
파이썬

### 리스트 요소 추가 / 변경

In [243]:
colors = ['봄', '가을', ['초록','핑크']]
print(colors)
colors.append('겨울')     # 리스트 맨 끝에 추가
print(colors)
colors.insert(1, '여름')  # 리스트명.insert(인덱스위치, 값)
print(colors)

['봄', '가을', ['초록', '핑크']]
['봄', '가을', ['초록', '핑크'], '겨울']
['봄', '여름', '가을', ['초록', '핑크'], '겨울']

In [214]:
# 리스트 요소 변경
colors[1] = '주황색'
print(colors)

colors[3][0] = '진한초록'
print(colors)

['봄', '주황색', '가을', ['초록', '핑크'], '겨울']
['봄', '주황색', '가을', ['진한초록', '핑크'], '겨울']

In [215]:
colors[3:] = '노랑'
print(colors)

['봄', '주황색', '가을', '노', '랑']

### 리스트 요소 삭제

In [216]:
print(colors)
colors.pop()     # 리스트 맨 끝 요소 삭제
print(colors)
colors.remove('봄')  # 리스트명.remove(값), 단 여러 개 일 경우 첫 번째만 삭제됨
print(colors)

['봄', '주황색', '가을', '노', '랑']
['봄', '주황색', '가을', '노']
['주황색', '가을', '노']

In [217]:
for i in range(-1,-4,-1):
  colors.pop()
  print(colors)

['주황색', '가을']
['주황색']
[]

In [235]:
# 임의의 수 생성해서 리스트로 만들고 정렬하기
import random
numbers = []
random.randint(1,100)

numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))

print(numbers)

# 정렬하기
numbers.sort()
print(numbers)

numbers.reverse()
print(numbers)

[47, 70, 57, 97, 3]
[3, 47, 57, 70, 97]
[97, 70, 57, 47, 3]

## 2-7.딕셔너리(Dictionary)
- 딕셔너리는 쌍이 하나로 묶인 자료구조
- 인덱스를 의미하는 ‘키(key)'와 자료의 내용인 ‘ 값(value)'을 이용하여  데이터를 관리
- 중괄호 { }로 묶어 구성, 키(Key)와 값(Value)의 쌍으로 구성
- 순서(sequence)가 없다

### 딕셔너리 생성

In [258]:
members = {} # 빈 딕셔너리
members = dict() # 빈 딕셔너리

members = {'name':'진', 'age':29, 'email':'jin@gggmail.com'}
type(members)

print(members['name'])
print(members.get('name'))

# 새로운 요소 추가
members[7] = ['정국', '뷔', '지민']
print(members)

진
진
{'name': '진', 'age': 29, 'email': 'jin@gggmail.com', 7: ['정국', '뷔', '지민']}

### 딕셔너리 키(key)와 값(value)에 접근하기

In [299]:
scores = {'국어': 100, '수학': 90, '영어': 80}

print(scores['국어'])  # 딕셔너리는 키로 접근한다.

# 방법1
print('---방법1---')
for key in scores:
    print('%s => %s' % (key, scores[key]))

# 방법2
print('---방법2---')
for key, value in scores.items():
    print('%s => %s' % (key, value))

100
---방법1---
국어 => 100
수학 => 90
영어 => 80
---방법2---
국어 => 100
수학 => 90
영어 => 80

In [300]:
print(scores.keys())   # 키만 추출, 리스트로 반환
print(scores.values()) # 키만 추출, 리스트로 반환
print(scores.items())  # (키,값)쌍 형태로 추출, 리스트로 반환

dict_keys(['국어', '수학', '영어'])
dict_values([100, 90, 80])
dict_items([('국어', 100), ('수학', 90), ('영어', 80)])

### 딕셔너리에 요소 추가/수정/삭제

In [276]:
# 키로 요소 추가하기
scores['music'] = 100
print(scores)

# 요소 값 수정하기
scores['수학'] = 99
print(scores)

# 요소 삭제하기
del scores['영어']
print(scores)

{'국어': 100, '수학': 90, '영어': 80, 'music': 100}
{'국어': 100, '수학': 99, '영어': 80, 'music': 100}
{'국어': 100, '수학': 99, 'music': 100}

In [281]:
del scores['국어'], scores['수학']
print(scores)

{'music': 100}

------------------------

### 튜플(Tuple)
- 요소 추가 및 변경 불가

In [288]:
a = tuple()
a = ()
print(type(a))

<class 'tuple'>

In [294]:
a = (1) # 튜플에 요소 1개를 정의할 때는 반드시 , 사용. 그렇지 않으면 문자나 숫자로 인식.
print(type(a))

b = (1,)
print(type(b))

<class 'int'>
<class 'tuple'>

In [303]:
a = 1,2,3,4,5
print(a[3])
print(a[:3])

4
(1, 2, 3)

### 집합 생성

In [305]:
a = set() # 빈 집합 형태
a = set((1,2,3))
print(type(a), a)

<class 'set'> {1, 2, 3}

In [304]:
b = set('Hello') # 중복된 값은 하나만 출력
print(type(b), b)

<class 'set'> {'e', 'H', 'o', 'l'}

In [310]:
# 집합에서는 중복된 데이터를 배제시킬 수 있다
fruits = set(('사과', '바나나', '사과', '포도', '귤', '귤'))
print(type(fruits), fruits)

<class 'set'> {'포도', '귤', '사과', '바나나'}

In [320]:
fruits = ['사과', '바나나', '사과', '포도', '귤', '귤']
a = tuple(fruits)
print(type(a), a)

b = list(set(fruits))
b.sort()
print(type(b), b)

<class 'tuple'> ('사과', '바나나', '사과', '포도', '귤', '귤')
<class 'list'> ['귤', '바나나', '사과', '포도']

끝

In [ ]:
# list에 쓸 수 있는 함수 설명서
help(list)